* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4efe7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #064420;
  margin: 35px 0 15px 0;
}

.region {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.regionSearch {
  width: 200px;
  height: 30px;
  border: none;
  background-color: #d5dbb3;
  color: #334443;
  border-radius: 3px;
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
}

.regionSearch:focus {
  outline: none;
}

.country-container {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 200px;
  height: auto;
  border-radius: 0 0 3px 3px;
  background-color: cadetblue;
  transform: translateX(-50%);
  z-index: 100;
}

/* <div class="country-item">Korea</div> */
.country-container .country-item {
  background-color: #f0ebcc;
  width: 100%;
  height: 30px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  line-height: 30px;
  padding: 0 8px;
  cursor: pointer;
  font-weight: bold;
  color: dimgray;
}

.country-container .country-item:hover {
  background-color: #e7d4b5;
  color: #000;
}

.month-container {
  background-color: #d5dbb3;
  width: 250px;
  height: 190px;
  padding: 5px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.month {
  background-color: #faf1e6;
  color: #334443;
  font-size: 14px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.month:active {
  transform: scale(0.92);
  font-size: calc(14 * 0.92) px;
}

.btn-result {
  background-color: darkslategray;
  color: #fff;
  width: 300px;
  max-width: 800px;
  height: 70px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-result .when,
.btn-result .where {
  color: crimson;
}

.result-container {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}

.result-container img {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 800px;
  z-index: -100;
}

.result-container h2,
.result-container p {
  margin-top: 20px;
  text-align: center;
}

.result-container span {
  text-align: center;
}
